
.header--prod
	color: #ffffff
	padding: $space-humongous 0 $space-big 0
.prod-header--container
	+outer-container()
.prod--head
	+font-size($lrg-p--font-sizes)
	font-family: $base-font-family
	font-weight: 300
	position: relative
	display: inline-block

.prod--head::after
	content: ''
	display: block
	border-bottom: solid 1.5px #ffffff
	position: relative
	margin-left: 4px
	top: -8px
	width: 300%
	left: 100%

.prod-header-content--container
	+span-columns(6)
.prod-sf-header-image--container
	+span-columns(6)

.prod-intro--container
	+outer-container()
	padding: 0 0 $space-xlarge 0
.prod-bubbles--container
	+span-columns(7)
#bubble-parallax
	position: relative
.bubbles-position--container
	position: absolute
	top: -300px
	height: 1000px
	width: 100%
.prod-intro-content--container
	+span-columns(5)
	h2
		+font-size($h3--font-sizes)
	.subhead
		+font-size($lrg-p--font-sizes)
		color: $berry
.prod-bubble
	border-radius: 50%
	position: absolute
	display: block
	transition: left 0.3s, top 0.3s, right 0.3s, height 0.3s, width 0.3s
	+shadow
.dialogue-bubble--container
	position: absolute
	display: inline-block
.dialogue-bubble
	background-color: #ffffff
	padding: $space-teeny
	position: relative
	text-align: center
	display: block
	line-height: 1.2
	font-weight: 100
	+shadow
	&:after
		content: ""
		position: absolute
		box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px
		-moz-transform: rotate(45deg)
		-webkit-transform: rotate(45deg)
		bottom: -10px
		left: 50%
		margin-left: -15px
		border-width: 10px
		border-style: solid
		border-color: transparent #FFF #FFF transparent
.prod--down-arrow
	font-family: arial
	font-size: 26px
	display: block
	height: 56px
	width: 56px
	border: solid 2px #fff
	line-height: 45px
	text-align: center
	border-radius: 50%
	overflow: hidden
	transition: all 0.3s
	&:hover
		background-color: rgba(#ffffff, 0.20)
.prod-smartfeatures--container
	padding: $space-small 0 $space-big 0
.prod-smartfeatures
	+outer-container()
	position: relative
	h2
		text-align: center
		margin-bottom: $space-large
	ul
		+span-columns(4)
		padding-left: 70px
		margin-right: 0
		&:last-of-type
			+shift(4)
		li
			position: relative
			margin-bottom: $space-small
			.icon-container
				width: 55px
				left: -70px
				position: absolute
				display: block
				height: 55px
			p
				font-size: $small
			h3
				font-size: $med
	h3
		font-weight: 900
		color: $berry
		margin-bottom: 0
.prod-color--selector
	+span-columns(5)
	top: 0

.prod-intro-content--container
	.blurb
		background-color: $light-gray
		+shadow
		padding: $space-teeny
		margin-bottom: $gutter
		h3
			font-size: $base
			font-weight: 700
			color: $berry
			margin-bottom: 0

.arrow-bounce
	position: relative
	display: block
	transition: transform 0.3s

.arrow-bounce
	-webkit-animation:  arrow 8s infinite
	-moz-animation:     arrow 8s infinite
	-o-animation:       arrow 8s infinite
	animation:          arrow 8s infinite
	animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1)

@keyframes arrow
	0%
		transform: translate(0, 0)
		opacity: 1
	57%
		transform: translate(0, 0)
		opacity: 1
	60%
		transform: translate(0, 40px)
		opacity: 0
	61%
		transform: translate(0, -40px)
		opacity: 0
	64%
		transform: translate(0, 3px)
		opacity: 1
	66%
		transform: translate(0, 0)
		opacity: 1
	100%
		transform: translate(0, 0)
		opacity: 1

.at-a-glance--container
	padding: $space-large 0 $space-large 0
.at-a-glance--inner
	+outer-container()
	h2
		color: $blue
		text-align: center

.aag--row
	display: flex
	margin-bottom: $gutter
	.aag--chart
		background-color: tint($pearl, 90%)
		+shadow
		display: flex
		+span-columns(6)
		h3
			background-color: tint($blue, 50%)
			font-size: 21px
			color: #ffffff
			font-weight: 600
			padding: $space-teeny
			margin-bottom: 0
		.aag-chart--row
			+clearfix
			h4
				font-family: $base-font-family
				font-weight: 400
				margin-bottom: 0
				+span-columns(5)
				color: tint($dark-gray, 40%)
				padding: 16px $space-teeny 16px $space-teeny
			p
				+span-columns(7)
				margin-bottom: 0
				padding: 16px $space-teeny 16px $space-teeny
			&:nth-of-type(2)
				background-color: tint($pearl, 95%)

.high-performance--container
	padding: $space-humongous 0 $space-humongous 0
	position: relative
	overflow-y: hidden
	overflow-x: hidden
.high-performance-image-container
	position: absolute
	z-index: 0
	transition: all 0.3s
	top: 0
	bottom: 0
	left: 40%
	width: 100%
	background: url(../assets/images/image-smartflower-ev-closeup.jpg) no-repeat top left
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	img
		display: none
.high-performance-content--container
	+outer-container()
	position: relative
	.high-performance-content
		+span-columns(6)
		color: #ffffff
		h2
			+font-size($variant-h2--font-sizes)

.for-home-products-grid--container, .biz-gov-products-grid--container
	padding: $space-xlarge 0 $space-big 0
	.simple-label--small
		+outer-container()
		text-align: center
	.smarter-image--container
		display: none
.interactive-dots--container
	position: absolute
	width: 50%
	left: 50%
.interactive-dot-position
	position: relative
	z-index: 20
	float: left
.interactive-dot-position.pos1
	top: 320px
	left: 40%
.interactive-dot-position.pos2
	top: 380px
	left: 60%
.interactive-dot-position.pos3
	top: 160px
	left: 60%
.interactive-dot
	cursor: pointer
	height: 31px
	width: 31px
	position: relative
	display: inline-block
	background-color: $berry
	border-radius: 50%
	+shadow
	&:after
		content: ""
		width: 31px
		height: 31px
		display: block
		border-radius: 50%
		background: transparent
		border: solid 1px $berry
		-webkit-animation:  dot-pulse 4s infinite
		-moz-animation:     dot-pulse 4s infinite
		-o-animation:       dot-pulse 4s infinite
		animation:          dot-pulse 4s infinite
		animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1)

@keyframes dot-pulse
	0%
		opacity: 1
		transform: scale(1,1)
	50%
		opacity: 1
		transform: scale(1,1)
	70%
		transform: scale(1.5,1.5)
		opacity: 0
	75%
		transform: scale(1,1)
		opacity: 0
	100%
		transform: scale(1,1)
		opacity: 1

.interactive-dot:hover + .dot-bubble
	opacity: 1
.dot-bubble
	background-color: #ffffff
	opacity: 0
	padding: $space-teeny
	position: absolute
	width: 150px
	top: -80px
	left: -55px
	text-align: center
	transition: all 0.3s
	display: inline-block
	line-height: 1.2
	font-weight: 100
	+shadow
	&:after
		content: ""
		position: absolute
		box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px
		-moz-transform: rotate(45deg)
		-webkit-transform: rotate(45deg)
		bottom: -10px
		left: 50%
		margin-left: -15px
		border-width: 10px
		border-style: solid
		border-color: transparent #FFF #FFF transparent

+media($bp-desk-med)
	.interactive-dot-position.pos1
		top: 290px
		left: 55%
	.interactive-dot-position.pos2
		top: 320px
		left: 70%
	.interactive-dot-position.pos3
		top: 120px
		left: 60%
	.prod-bubbles--container
		+span-columns(6)
	.prod-intro-content--container
		+span-columns(6)
	.prod-smartfeatures--container
		padding: $space-large 0 $space-large 0
	#color-changer
		text-align: center
		position: relative
		float: left
		width: 100%
		+shadow
		padding: $space-vinsmall
		background-color: $light-gray
		margin-left: 0
	#color-changer .changer--nav label
		height: $space-xsmall
		width: $space-xsmall

	.prod-smartfeatures
		h2
			text-align: center
			margin-bottom: $space-large
		ul
			+span-columns(12)
			padding-left: 0px
			&:last-of-type
				+shift(0)
				margin-right: 0
			li
				position: relative
				+span-columns(6)
				background-color: $light-gray
				margin-bottom: $gutter
				text-align: center
				+shadow
				min-height: 250px
				padding: $space-vinsmall
				&:nth-of-type(2)
					margin-right: 0
				&:nth-of-type(3)
					margin-right: 0
					+span-columns(12)
					padding: $space-small
				.icon-container
					width: 50px
					height: 50px
					left: 0px
					margin: 0 auto
					position: relative
					display: block
				p
					font-size: $small

				h3
					font-size: $med
					margin-top: $space-xxsmall
		h3
			font-weight: 900
			color: $berry
			margin-bottom: 0
	.prod-color--selector
	+span-columns(6)
	top: 0
+media($bp-desk-small)
	.high-performance-image-container
		left: 30%
	.interactive-dot-position.pos1
		top: 290px
		left: 30%
	.interactive-dot-position.pos2
		top: 320px
		left: 50%
	.interactive-dot-position.pos3
		top: 100px
		left: 40%
	.high-performance-content--container
		.high-performance-content
			+span-columns(7)
	.prod-bubbles--container
		+span-columns(5)
	.bubbles-position--container
		top: -330px
		left: -80px
		height: 800px
	.prod-intro-content--container
		+span-columns(7)
+media($bp-tab-med)
	.interactive-dots--container
		position: absolute
		width: 100%
		left: 0
	.interactive-dot-position.pos1
		top: 200px
		left: 35%
	.interactive-dot-position.pos2
		top: 240px
		left: 58%
	.interactive-dot-position.pos3
		top: 100px
		left: 50%
	.high-performance--container
		padding: 0 0 $space-large 0
		text-align: center
	.high-performance-image-container
		position: relative
		z-index: 0
		display: block
		left: 0
		background: none
		img
			display: block
			margin: 0 auto
	.high-performance-content--container
		.high-performance-content
			+span-columns(12)
	.prod-smartfeatures
		h2
		ul
			margin-bottom: $gutter
			li
				min-height: 270px

	.prod-bubbles--container
		+span-columns(5)
	.bubbles-position--container
		top: -300px
		left: -80px
		height: 800px
	.prod-intro-content--container
		+span-columns(7)
	.header--prod
		.prod--down-arrow
			display: none
+media($bp-mob-large)
	#color-changer .changer--nav label
		height: $space-xxsmall
		width: $space-xxsmall
	.interactive-dots--container
		position: absolute
		width: 100%
		left: 0
	.interactive-dot-position.pos1
		top: 200px
		left: 35%
	.interactive-dot-position.pos2
		top: 200px
		left: 58%
	.interactive-dot-position.pos3
		top: 100px
		left: 50%
	.interactive-dot
		height: 20px
		width: 20px
		&:after
			content: ""
			width: 20px
			height: 20px
			border: solid 1px $berry
	.dot-bubble
		top: -60px
		left: -40px
		padding: 10px
		width: 100px
		top: -60px
		font-size: 12px
		display: inline-block
		+shadow
		&:after
			bottom: -9px
			left: 55%
			margin-left: -15px
	.aag--row
		display: block
		margin-bottom: $gutter
		.aag--chart
			display: block
			+span-columns(12)
			margin-bottom: $gutter

	.prod-smartfeatures
		h2
			margin-bottom: $space-small
		ul
			li
				+span-columns(12)
				min-height: 200px
				&:nth-of-type(2)
					+span-columns(12)
				&:nth-of-type(3)
					+span-columns(12)
					padding: $space-xxsmall
				h3
					font-size: $base
					margin-top: $space-xxsmall
	.prod-color--selector
	+span-columns(6)
	top: 0
	.prod-header-content--container
		+span-columns(12)
		text-align: center
	.prod-sf-header-image--container
		+span-columns(12)
		img
			width: 70%
			display: block
			margin: 0 auto
	.header--prod
		color: #ffffff
		padding: $space-big 0 $space-big 0
	.prod-bubble
		position: absolute
		display: block
		float: left
	.prod-bubbles--container
		+span-columns(12)
		position: relative
		z-index: 0
	.bubbles-position--container
		top: 0px
		left: 0px
		position: relative
		top: -40px
		height: 250px
	.prod-intro-content--container
		+span-columns(12)
		position: relative
		text-align: center
		z-index: 1
	.prod--head
		display: block
	.prod--head::after
		top: 0px
		width: 100%
		left: -4px
	.prod-header-content--container
		+span-columns(12)
	.prod-sf-header-image--container
		margin-top: 20px
		+span-columns(12)
+media($bp-mob-med)
	.interactive-dots--container
		display: none
	.prod-intro--container
		padding: 0 0 0 0