<!-- layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="css/main.min.css">
  <!-- endinject -->
  <link rel="stylesheet" href="css/vendor/owl.carousel.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://use.typekit.net/qxd5dly.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

{% include "partials/header.html" %}
  <!-- You write code for this content block in another file -->
{% block content %} {% endblock %}
{% include "partials/footer.html" %}
  <!-- inject:js -->
  <!-- endinject -->
  <script src="js/scripts.js"></script>
  <script src="js/jquery.scrollme.min.js"></script>
  <script src="js/bowser.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/vivus.min.js"></script>

  <script>
  	$(document).ready(function(){
      //using bowser to detect device and switch video background

      function videoBackgroundSwitch(){
        if (bowser.msie && bowser.version <= 6) {
          alert('Hello China');
        }
      }

      //create custom pager for versus
      function customPager() {
        $.each($('.versus-slide'), function (i) {
            var titleData = jQuery(this).find('span').attr('title');
            var paginationLinks = jQuery('.vs-nav .owl-dot span');

            $(paginationLinks[i]).append(titleData);
        });

      }
      //homepage carousel - 1st
      $('#awards--carousel').owlCarousel({
        loop:true,
        margin:10,
        dots : false,
        responsiveClass:true,
        autoPlay:true,
        responsive:{
            0:{
                items:2,
            },
            600:{
                items:3,
            },
            1000:{
                items:5,
                loop:false
            }
        }
      });

      //for home carousel - 2nd
      $('#your-life--carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1,
            },
            520:{
                items:2,
            },
            720:{
                items:3,
            },
            1000:{
                items:4,
            }
        }
      });
      //versus carousel - 3nd
       $('#versus--carousel').owlCarousel({
        loop          : false,
        items         : 1,
        nav           : false,
        dotsContainer : '#vs-carousel--nav',
        onInitialized : customPager
    });

       //stats carousel - 4th
       $('#stats--carousel').owlCarousel({
        loop          : false,
        responsiveClass: true,
        autoplay: true,
        dots: false,
        autoplayTimeout: 5000,
        margin: 10,
        items         : 3,
        nav           : false,
        responsive:{
            0:{
                items:1,
            },
            520:{
                items:2,
            },
            720:{
                items:2,
            },
            1000:{
                items:3,
            }
        }

    });

             //vivus objects

      var smartTrackingIcon = new Vivus('smart-tracking-icon', {type: 'delayed', duration: 60, delay: 30, animTimingFunction: Vivus.EASE_IN_OUT})
      var smartUseIcon = new Vivus('smart-use-icon', {type: 'delayed', duration: 60, delay: 30, animTimingFunction: Vivus.EASE_IN_OUT})
      var smartCoolingIcon = new Vivus('smart-cooling-icon', {type: 'delayed', duration: 60, delay: 30, animTimingFunction: Vivus.EASE_IN_OUT})
      var smartSafetyIcon = new Vivus('smart-safety-icon', {type: 'delayed', duration: 60, delay: 30, animTimingFunction: Vivus.EASE_IN_OUT})
      var smartSystemIcon = new Vivus('smart-system-icon', {type: 'delayed', duration: 60, delay: 30, animTimingFunction: Vivus.EASE_IN_OUT})
      var smartCleaningIcon = new Vivus('smart-cleaning-icon', {type: 'delayed', duration: 60, delay: 30, animTimingFunction: Vivus.EASE_IN_OUT})
  })
  </script>
</body>
</html>