
.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: $space-xsmall;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $berry;
			font-size: 8px;
			margin: 8px;
			padding: 8px;
			background: $light-gray;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			&:hover {
				background: $berry;
				color:$berry;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: .4;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: 10px;
				height: 10px;
				margin: 5px;
				background: tint($berry, 50%);
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}

			&.active,
			&:hover {
				span {
					background: $berry;
				}
			}
		}
	}
}
