<footer role="contentinfo">
	<div class="footer-nav--container">
		<ul class="footer-nav">
			<li><a class="line-hover">products</a></li>
			<li><a class="line-hover">your home</a></li>
			<li><a class="line-hover">business &amp; government</a></li>
			<li><a class="line-hover">contact</a></li>
			<li><a class="line-hover">become a partner</a></li>
			<li><a class="line-hover">partner login</a></li>
		</ul>
		<ul class="social-nav">
			<li><a class="social-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a class="social-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
			<li><a href="tel:16179043100">T: (617)904-3100</a></li>
		</ul>
	</div>
	<div class="footer-copyright--secondary">
		<ul class="copyright-nav">
		<li><a>&copy;smartflower</a></li>
		<li><a>privacy policy</a></li>
		<li><a>terms of use</a></li>
		<li><a>legal</a></li>
	</ul>
	</div>
</footer>