<header class="header--banner" role="banner">
  <div class="navigation-wrapper">
  <input type="checkbox" id="hamburger"/>
<label class="menuicon" for="hamburger">
  <span></span>
</label>
    <a class="logo"><img src="/assets/images/smartflower--logo-white-transparent-760.png"></a>
     <nav class="navigation" role="navigation">
      <ul>
        <li class="nav-item--drop">
          <a href="products.html">products</a>
          <ul class="drop--wrapper">
            <li class="nav--sub-item"><a href="smartflower.html">smartflower</a></li>
            <li class="nav--sub-item"><a href="smartflower-plus.html">smartflower plus</a></li>
            <li class="nav--sub-item"><a href="smartflower-ev.html">smartflower ev</a></li>
          </ul>
        </li>
        <li class="nav-item--single"><a href="for-home.html">your home</a></li>
        <li class="nav-item--single"><a href="business-and-government.html">business &amp; government</a></li>
        <li class="nav-item--single"><a href="#">contact</a></li>
      </ul>
    </nav>




    <button style="display: none;" class="c-hamburger44 c-hamburger--htx44">
       <span>toggle menu</span>
      </button>
  </div>

</header>
