<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<div id="dealer-contact" class="main" role="main">
	<header class="header--dealer-contact">
		<section class="dealer-contact-header--container">
			<h1>Become a smartflower authorized dealer or partner</h1>
			<h3 class="contact-subhead">Bring the latest in solar technology to your company</h3>
			<p>Looking for a new product offering that will grow your business and help support a more environmentally sustainable planet? When you introduce your customers to smartflower, you’ll be showing them that producing clean solar energy can be exciting and simple. Find out how you can become a certified reseller today. </p>
			<span class="prod--down-arrow">
				<span class="arrow-bounce">&#8595;</span>
			</span>
		</section>
	</header>

<section class="contact-form dealer">
	<div class="contact-form--container dealer">
		<h2> Become a smartflower partner today.</h2>
		<p>Contact us to connect with a smartflower representative today or call&nbsp;us&nbsp;at&nbsp;<a href="tel:16179043100">(617)904-3100</a></p>
		<div class="dealer-form-wrapper">

		</div>

	</div>

</section>




</div>
{% endblock %}